# Data files
data/
*.parquet
*.csv
*.xlsx

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Ignore data files
data/*.csv
data/*.parquet

# Temporary files and extracted images
~$*.pptx
docs/images/
